<div class="datlich-modal-container"> 
    <div mat-dialog-content>
        <h2 style="text-align: center;">Thông tin lịch khám</h2>

        <form method="post">

            <div class="form-group">
                <label for="loaicakham">Loại ca khám: </label>
                <input type="text" class="form-control" id="loaicakham" #lckInput name="loaicakham" value="{{ data.hscckham.loaicakham }}"  disabled>  
  
            </div>
            <div class="form-group">
                <label for="bacsi">Bác sĩ: </label>
                <input type="text" class="form-control" id="bacsi" #bacsiInput name="bacsi" value="{{ data.hscckham.bacsi }}" disabled>  
  
            </div>

            <div class="form-group">
                <label for="benhnhan">Bệnh nhân: </label>
                <input type="text" class="form-control" id="benhnhan" #benhnhanInput name="benhnhan" value="{{ data.hscckham.benhnhan }}" disabled>    
            </div>

            <div class="form-group">
                <label for="sdt">SĐT: </label>
                <input type="text" class="form-control" id="sdt" #sdtInput name="sdt" value="{{ data.hscckham.sdt }}" disabled>    
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" #emailInput  name="email" value="{{ data.hscckham.email }}" disabled>    
            </div>

            <div class="form-group">
                <label for="namsinh">Năm sinh: </label>
                <input type="number" class="form-control" id="namsinh" #namsinhInput name="namsinh" value="{{ data.hscckham.namsinh }}" disabled>    
            </div>

            <div class="form-group">
                <label for="lsbenhly">Lịch sử bệnh lý: </label>
                <textarea #lsbenhlyInput class="form-control" id="lsbenhly" name="lsbenhly" placeholder="Liệt kê" value="{{ data.hscckham.lichsuBenhly }}"></textarea>
            </div>

            <div class="form-group">
                <label for="ngaykham">Ngày khám: </label>
                <input type="date" class="form-control" id="ngaykham" #ngaykhamInput  name="ngaykham" disabled
                        [value]="formatDate(data.hscckham.ngaykham)">
            </div>

            <div class="form-group">
                <label for="giokham">Giờ khám: </label>
                <input type="time" class="form-control" id="giokham" #giokhamInput name="giokham" disabled
                [value]="formatTime(data.hscckham.giokham)">
            </div>

            <div class="form-group">
                <label for="chuandoan">Chuẩn đoán: </label>
                <textarea class="form-control" id="chuandoan" #chuandoanInput name="chuandoan" placeholder="Bác sĩ nhập vào đây..." ></textarea>
            </div>

            <div class="form-group">
                <label for="dieutri">Điều trị: </label>
                <textarea  class="form-control" id="dieutri" #dieutriInput name="dieutri" placeholder="Bác sĩ nhập vào đây..." ></textarea>
            </div>

            <div class="form-group">
                <label for="chiphi">Chi phí: </label>
                <input  #chiphiInput class="form-control" id="chiphi"  name="chiphi" value="{{ cakham.chiphi }}" disabled>
            </div>

        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClose()" class="close-button">X</button>
        
        <button class="datlich-btn" mat-button (click)="send()" >Hoàn tất</button>

        <span *ngIf="successMessage" class="success-message">{{ successMessage }}</span>
    </div> 

    <div class="qr-container">
        <img #qrCode>
    </div>
    
</div>
