.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    padding: 20px;
    /* border-radius: 20px; */
    /* background-image: url("../../assets/bg.png"); */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #52cbff;
    border-radius: 20px;
    z-index: 500;
  }
  
.logo img {
    height: 30px; 
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .content {
    display: flex;
    flex-grow: 1;
    margin-top: 20px;
    height: 100%;
}

/* sidebar */ 
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color:  #52cbff;
    border-radius: 20px;
    padding: 20px;
    transition: width 0.5s; 
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: start;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li a:hover {
    /* background-color: #38718a; */
    color: #38718a;
}

.hidden-sidebar{
    display: none;
}

/* main content */ 
.main-container {
    height: auto;
    flex-grow: 1; 
    padding: 20px;
    border: 1px solid #52cbff;
    margin-left: 220px;
    border-radius: 20px;

    overflow: hidden; 
    display: inline-block; 
    vertical-align: top; 
    box-sizing: content-box; 
}

@media only screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 20px;
    }

    .main-container{
        margin-left: 10px;
    }

    .sidebar ul li {
        display: none; 
    }

    .hidden-sidebar{
        margin-bottom: 20px;
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }
}

