<div class="container custom">
    <div class="search-filters">
        <form>
            <input type="text" placeholder="Nhập để tìm kiếm..."  name="searchTerm" style="width: auto;">
            <select  name="selectedFilter">
                <option></option>
            </select>
        </form>
    </div>

    <div class="card-container">
        <table mat-table [dataSource]="dataSource" matSort 
            class="mat-elevation-z8" >
 
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
            </th>
            <td mat-cell *matCellDef="let bn" > {{bn.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="hoten">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Họ tên
            </th>
            <td mat-cell *matCellDef="let bn"> {{bn.hoten}} </td>
        </ng-container>
        
        <ng-container matColumnDef="sdt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            SĐT
            </th>
            <td mat-cell *matCellDef="let bn"> {{bn.sdt}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
            </th>
            <td mat-cell *matCellDef="let bn"> {{bn.email}} </td>
        </ng-container>

        <ng-container matColumnDef="gioitinh" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Giới tính
            </th>
            <td mat-cell *matCellDef="let bn"> {{ bn.gioitinh === 0 ? 'Nam' : 'Nữ'}} </td>
        </ng-container>

        <ng-container matColumnDef="namsinh" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Năm sinh
            </th>
            <td mat-cell *matCellDef="let bn"> {{ bn.namsinh}} </td>
        </ng-container>

        <ng-container matColumnDef="diachi" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Địa chỉ
            </th>
            <td mat-cell *matCellDef="let bn"> {{ bn.diachi}} </td>
        </ng-container>
        
        <ng-container matColumnDef="chitiet" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                Chi tiết
            </th>
            <td mat-cell *matCellDef="let bn" class="centered-cell">
                <img src="../../assets/website.png" class="view-detail" alt="Calendar Icon" width="25px" (click)="openModal(bn)">
            </td>
        </ng-container>        
  

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let bn of bnList; columns: displayedColumns;"></tr>
 </table>
</div>
