.logup-container {
    font-family: Arial;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    max-width: 90%;
    z-index: 100;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
input{
    width: 300px;
    height: 30px;
    border: none;
}

textarea{
  width: 300px;
  height: auto;
  border: none;
  font-family: Arial;
}

.checkbox-group label{
  font-size: smaller;
  font-weight: lighter;
  color: rgb(90, 90, 90);
}

.checkbox-group input{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    
}

.checkbox-group input:checked{
  background-color: #52cbff; 
}
  
  .logup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .logup-button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #52cbff;
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
  }
  .form-control:focus {
    outline: none !important;
    border:1px solid #52cbff;
  }

  .logup-button:hover{
    background-color: black;
  }
  
  .close-button{
    border: none;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
