<div class="container custom">
    <div class="search-filters">
        <form>
            <input type="text" placeholder="Nhập để tìm kiếm..."  name="searchTerm" style="width: auto;">
            <select  name="selectedFilter">
                <option></option>
            </select>

            <button style="width: auto; border-radius: 5px;" (click)="them()">Thêm</button>
        </form>
    </div>

    <div class="card-container">
        <table mat-table [dataSource]="dataSource" matSort 
            class="mat-elevation-z8" >
 
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
            </th>
            <td mat-cell *matCellDef="let bs" > {{bs.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="hoten">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Họ tên
            </th>
            <td mat-cell *matCellDef="let bs"> {{bs.hoten}} </td>
        </ng-container>
        
        <ng-container matColumnDef="sdt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            SĐT
            </th>
            <td mat-cell *matCellDef="let bs"> {{bs.sdt}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
            </th>
            <td mat-cell *matCellDef="let bs"> {{bs.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="chuyenkhoa" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Chuyên khoa
            </th>
            <td mat-cell *matCellDef="let bs"> {{ bs.chuyenkhoa}} </td>
        </ng-container>

        <ng-container matColumnDef="matkhau" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header >
            Mật khẩu
            </th>
            <td mat-cell *matCellDef="let bs"> {{ bs.matkhau}} </td>
        </ng-container>
        
        <ng-container matColumnDef="chitiet" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                Chi tiết
            </th>
            <td mat-cell *matCellDef="let bs" class="centered-cell">
                <img src="../../assets/website.png" class="view-detail" alt="Calendar Icon" width="25px" (click)="openModal(bs)">
            </td>
        </ng-container>        
  

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let bs of bsList; columns: displayedColumns;"></tr>
 </table>
</div>
