<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

<div class="datlich-modal-container"> 
    <div mat-dialog-content>
        <h2 style="text-align: center;">Đặt lịch khám</h2>
        <!-- <p>{{ data.loaicakham }}</p> -->

        <form method="post">

            <div class="form-group">
                <label for="loaicakham">Loại ca khám: </label>
                <input type="text" class="form-control" id="loaicakham"  name="loaicakham" value="{{ data.cakham.loaicakham }}"  disabled>  
  
            </div>
            <div class="form-group">
                <label for="bacsi">Bác sĩ: </label>
                <input type="text" class="form-control" id="bacsi" #bacsiInput name="bacsi" value="{{ data.cakham.bacsi }}" disabled>  
  
            </div>

            <div class="form-group">
                <label for="benhnhan">Bệnh nhân: </label>
                <input type="text" class="form-control" id="benhnhan" #benhnhanInput name="benhnhan" value="{{ data.benhnhan.hoten }}" required>    
            </div>

            <div class="form-group">
                <label for="sdt">SĐT: </label>
                <input type="text" class="form-control" id="sdt" #sdtInput name="sdt" value="{{ data.benhnhan.sdt }}" required>    
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email"  name="email" value="{{ data.benhnhan.email }}" disabled>    
            </div>

            <div class="form-group">
                <label for="namsinh">Năm sinh: </label>
                <input type="number" class="form-control" id="namsinh" #namsinhInput name="namsinh" value="{{ data.benhnhan.namsinh }}" required>    
            </div>

            <div class="form-group">
                <label for="lsbenhly">Lịch sử bệnh lý: </label>
                <textarea #lsbenhlyInput class="form-control" id="lsbenhly" name="lsbenhly" placeholder="Liệt kê"></textarea>
            </div>

            <div class="form-group">
                <label for="ngaykham">Ngày khám: </label>
                <input type="date" class="form-control" id="ngaykham" #ngaykhamInput  name="ngaykham" required>
            </div>

            <div class="form-group">
                <label for="giokham">Giờ khám: </label>
                <input type="time" class="form-control" id="giokham" #giokhamInput name="giokham" required>
            </div>

            <div class="form-group">
                <label for="chuandoan">Chuẩn đoán: </label>
                <textarea class="form-control" id="chuandoan" #chuandoanInput name="chuandoan" placeholder="Bác sĩ nhập vào đây..." disabled></textarea>
            </div>

            <div class="form-group">
                <label for="dieutri">Điều trị: </label>
                <textarea  class="form-control" id="dieutri" #dieutriInput name="dieutri" placeholder="Bác sĩ nhập vào đây..." disabled></textarea>
            </div>

            <div class="form-group">
                <label for="chiphi">Chi phí: </label>
                <input  class="form-control" id="chiphi"  name="chiphi" placeholder="Bác sĩ nhập vào đây..." value="{{ data.cakham.chiphi }}" disabled>
            </div>

        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClose()" class="close-button">X</button>
        
        <button class="datlich-btn" mat-button (click)="send()" #dlBtn [disabled]="dlBtnDisabled" >Đặt lịch</button>
        <button class="huy-btn"  mat-button >Hủy</button>



        <span *ngIf="successMessage" class="success-message">{{ successMessage }}</span>
    </div> 

    <div class="qr-container">
        <!-- <img #qrCode> -->

        <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="id_hsck" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
        
        <a [href]="qrCodeDownloadLink" download="qrcode"><button class="download-btn" >Tải về</button> </a>
    </div>
    
</div>
