<div class="container">
    <div class="top-content"> 
        <div class="card">
            <p>Khách hàng</p>
            <h3>{{bnCount}}</h3>
        </div>

        <div class="card">
            <p>Bác sĩ</p>
            <h3>{{bsCount}}</h3>
        </div>

        <div class="card">
            <p>Ca khám đã hoàn thành</p>
            <h3>{{hsckCount}}</h3>
        </div>

        <div class="card">
            <p>Tổng doanh thu</p>
            <h3>A</h3>
        </div>
    </div>

    <div class="bottom-content">

    </div>
</div>


